.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.posts{
  align-self: stretch;
  padding: 0.2rem 0.4rem;
  background-color: white;
  margin: 1rem 0;
  text-align: center;
  color: black;
  border-left: 10px solid white;
  width: 500px;
}

.posts:hover{
  border-left: 10px solid orange;
}

