.menu_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}


.col{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.col>a{
   border-top: 1px solid #4b4b4b;
   padding-top: 0.5rem;
   color: #4b4b4b;
   font-size: 14px;
   line-height: 1.5;
}

.copyright_container{
    margin: 2rem 0;
   font-size: 11px;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.socials{
    gap: 1rem;
    display: flex;
}