
:root{

}

html,
body {
  
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4{
  margin: 0;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper{
  --max-width: 960px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}


.btn_scroll {
 
  float: right;
  border: none;
  background-color: none;
  cursor: pointer;
  color: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
 opacity: 50%;
}

.btn_scroll:hover {
  opacity: 100%;
}
