.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.logo{
    width: 150px;
}

.hs{
    font-size: 0.8rem;
}

.searchbox{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 680px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    flex-direction: row;

    }

    .logo{
        width: 100px;
    }
}
  
  
@media only screen and (min-width: 960px) {
    .logo{
        width: 150px;
    }
}