


.main{
  margin-top: 2rem;
}

.filter_container{
  /* background-color: rgb(206, 219, 251); */
  height: 100px;
}
.card_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.posts{
  background-color: rgb(255, 172, 195);
  aspect-ratio: 1/1

}